html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    background-color: #7a1871;
    color: white;
    padding: 12px 32px;
    font-weight: 500;
}

h1 {
    font-weight: 600;
}

#employees {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#employees td,
#employees th {
    border: 1px solid #ddd;
    padding: 8px;
}

#employees tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* #employees tr:hover {
    background-color: #ddd;
} */

#employees th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #7a1871;
    color: white;
}

input[type=text],
input[type=number],
select {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: grid;
    border: 1px solid #7a1871;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #7a1871;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(0, 99, 99);
}

main {
    width: 85%;
    margin: auto;
}

footer {
    width: 85%;
    margin: auto;
    background-color: #7a1871;
    color: white;
    display: flex;
    justify-content: space-around;
    border: 2px solid;
}

footer p {
    font-weight: 600;
}

.over-budget {
    background-color: #bf0f24;
}